<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Quiz</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<center>
    <h1>Silahkan isi data sebelum mengikuti quiz</h1>
    <a href="http://data.jakarta.go.id"><img src="http://data.jakarta.go.id/base/images/logo/PORTALDATAJAKARTA.png" style="width:150px;height:150px;"></a>
    <h6>Sumber Data : Data.Jakarta.go.id</h6>
</center>

<br><br>

        <table border="0" align="center">
              <form>
                <tr>
                    <td>Usia Anda</td>
                    <td><input type="text" name="usia" class="form-control" placeholder="Usia"></td>
                </tr>

                <tr>
                    <td>Jenis Kelamin</td>
                    <td>
                        <select name="jenis_kelamin" class="form-control">
                            <option value="Laki - Laki">Laki - Laki</option>
                            <option value="Perempuan">Perempuan</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Kota / Kabupaten</td>
                    <td>
                        <select name="kota" class="form-control">
                            <option value="Jakarta Selatan">Jakarta Selatan</option>
                            <option value="Jakarta Utara">Jakarta Utara</option>
                            <option value="Jakarta Barat">Jakarta Barat</option>
                            <option value="Jakarta Timur">Jakarta Timur</option>
                            <option value="Kepulauan Seribu">Kepulauan Seribu</option>
                        </select>
                    </td>
                </tr>
                  <br>
                  <tr>
                      <td align="center"><button type="submit" class="btn btn-default">Quiz</button></td>
                  </tr>
              </form>
            </table>

</body>
</html>