<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<h2 align="center">Quiz 1</h2>
    <div class="container">
        <h2>Berapa jumlah siswa SMK yang putus sekolah pada tahun 2011 ?</h2>
        <hr/>
        <form>
            <div class="col-xs-4">
                    <input type="range" name="range" min="1" max="100" value="50" onchange="rangePrimary.value=value">
                    <output id="rangePrimary">50</output>
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-default">Periksa Hasil</button>
            </div>
        </form>
    </div>

</body>
</html>
