<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <center>
        <h2>Kamu Sudah Menjawab {{ total }} Soal</h2>
        <h3>Total Waktu Quiz :  </h3>
        <h3>Score Quiz : {{ jawab }}</h3>

        <a href="logout"><button type="submit" name="logout" value="logout" class="btn btn-default">Akhiri Quiz</button></a>
    </center>
</body>
</html>
